<mat-card class="director-container">
    <mat-card-header class="director-header">
        <mat-card-title>{{ data.Name }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div>
            <span class="director-label">Bio: </span>
            <span>{{ data.Bio }}</span>
        </div>
        <div>
            <span class="director-label">Birth: </span>
            <span>{{ data.Birth }}</span>
        </div>
        <div>
            <span class="director-label">Death: </span>
            <span>{{ data.Death }}</span>
        </div>

    </mat-card-content>
</mat-card>