.director-container {
  color: white;
  font-size: 16px;
}
.director-header {
  text-align: center;
  justify-content: center;
  margin-bottom: 10px;
  color: #c2185b;
}
.director-label {
  font-weight: 500;
  color: #c2185b;
}
